* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 25px;
}

input:focus {
    outline: none
}

button {
    cursor: pointer;
}

button:hover {
    outline: none;
}

.metrophobic {
    font-family: 'Metrophobic', sans-serif;
}

.unbounded {
    font-family: 'Unbounded', cursive;
}

.no-decoration {
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-orange {
    color: #ff4e00;
}

.border-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #ff4e00;
}

.form-container {
    width: 500px;
    height: 250px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.logout-container {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-container {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 20px;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 8px;
}

.icon-img {
    width: 80px;
    height: 80px;
    filter: invert(100%);
}

.label {
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-login {
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #ff4e00;
    border: none;
    cursor: pointer;
}

.button-signup {
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.button-logout {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.button-submit {
    background-color: #ff4e00;
    border: none;
    font-size: 18px;
}