* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
    height: 25px;
    color: #ff4e00;
    font-family: 'Unbounded', cursive;
    padding-left: 2px;
    font-size: 12px;
}

textarea {
    resize: none;
    color: #ff4e00;
    font-family: 'Unbounded', cursive;
    padding: 2px;
    font-size: 12px;
}

textarea:focus, input:focus, select:focus, button:hover {
    outline: none;
}

button {
    cursor: pointer;
}

.metrophobic {
    font-family: 'Metrophobic', sans-serif;
}

.unbounded {
    font-family: 'Unbounded', cursive;
}

.no-decoration {
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-orange {
    color: #ff4e00;
}

.border-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #ff4e00;
}

.full-border {
    border: 3px solid #ff4e00;
    white-space: pre-warp;
}

.form-container {
    width: 500px;
    height: 250px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.logout-container {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-container {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff4e00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-i-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.form-pengaduan-container {
    width: 100%;
    heightL 100%;
}

.pengaduan-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.p-1st-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p-2nd-container {
    display: flex;
    width: 79.9%;
    justify-content: end;
}

.pengaduan-1st-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pengaduan-2nd-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 95px;
}

.title {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 20px;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 8px;
}

.icon-img {
    width: 80px;
    height: 80px;
    filter: invert(100%);
}

.label {
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-login {
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #ff4e00;
    border: none;
    cursor: pointer;
}

.button-signup {
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.button-logout {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.button-submit {
    background-color: #ff4e00;
    border: none;
    font-size: 18px;
}

.invalid-feedback {
    font-size: 10px;
    color: red;
    margin-top: -10px;
    font-family: 'Metrophobic', sans-serif;
}

.credential-invalid {
    font-size: 15px;
    color: red;
    font-family: 'Metrophobic', sans-serif;
    padding-left: 100px;
}

.slash {
    transform: translateX(4px);
    font-size: 25px;
}

.input-select {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #ff4e00;
    color: #ff4e00;
    font-family: 'Unbounded', sans-serif;
    padding: 3px;
    text-align: center;
}

.input-number {
    max-width: 150px;
    text-align: center;
}